{% extends "clientes/base.html" %}

  {% block title %}
    Listagem de clientes
  {% endblock title %}

{% block conteudo %}

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Profissão</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for i in clientes %}
    <tr>
      <td><a href="{{ url_for('listar_cliente', id=i.id) }}">{{ i.nome }}</a></td>
      <td>{{ i.data_nascimento.strftime("%d/%m/%Y") }}</td>
      <td>{{ i.profissao }}</td>
      <td>
          <a href="{{ url_for('editar_cliente', id=i.id) }}">Editar</a>
          <a href="{{ url_for('remover_cliente', id=i.id) }}">Remover</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('cadastrar_cliente') }}"><button class="btn btn-primary">Cadastrar</button></a>

{% endblock conteudo %}